################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TCP-Chat-Server/FileContentIndex/23188f5d-9ca4-42fb-a31b-e099859c95b9.vsidx
